.item {
  @apply relative flex bg-black p-4 rounded-2xl bg-opacity-60 gap-4;
  backdrop-filter: blur(20px);
  > img {
    @apply relative rounded-2xl object-contain;
  }
  > svg {
    @apply absolute top-4 right-4 text-2xl text-gray-300 cursor-pointer;
    transition: 0.3s ease;
    &:hover {
      @apply text-primary border-primary rounded-full;
      outline: 2px solid #e58e27;
      transform: scale(1.2);
      outline-offset: 5px;
    }
  }
}
