.header {
  @apply relative z-20 w-full rounded-b-2xl mx-auto  flex justify-between items-center;
  background: #f3f3f3;

  .nav {
    ul {
      @apply flex  w-full text-base justify-between;
      .links {
        @apply flex items-center;
      }
      .btns {
        @apply flex items-center;
        li {
          @apply p-0;

         >button{
           border-left: none;
           border: none;
           svg{
             fill: #b3b3b3;
           }
           span{
             color: #000;
           }
           a{
             &:before{
               content: none;
             }

           }
         }

        }
      }
      li {
        @apply relative px-6  uppercase flex items-center py-1 justify-center;
        button {
          @apply w-auto;
          svg {
            @apply text-xl;
          }
        }
        &.logo {
          a{
            img{
              @apply w-auto h-16 object-contain;
            }
            &:before{
              content: none;
            }
          }
        }

        a {
          @apply relative py-1 overflow-hidden;

          &:hover {
            &:before {
              left: 0;
            }
          }

          &:before {
            content: '';
            transition: 0.5s ease;
            position: absolute;
            left: -100%;
            width: 100%;
            height: 3px;
            @apply bg-primary;
            bottom: 0;
          }
        }

        &.active > div {
          @apply right-0 h-full;
        }

        > div {
          @apply fixed  w-1/3 min-h-full top-0 rounded-2xl -right-full z-40;

          backdrop-filter: blur(20px);
          transition: 0.5s ease;
          .wrapper {
            @apply p-5 h-auto flex flex-col;
            backdrop-filter: blur(10px);
            .popupTitle {
              @apply flex justify-between pb-3 mb-8 border-gray-500;
              border-bottom: 2px solid;
              > h2 {
                @apply font-bold;
              }
            }
            .itemWrapper {
              @apply flex flex-col gap-5;
              flex: 1 0 auto;
            }
            .totalPrice {
              flex: 0 0 auto;
              @apply flex gap-11 items-center;
              > h3 {
                @apply flex gap-2;
                span {
                  @apply text-white text-2xl;
                }
              }
              > button {
                @apply w-full;
              }
            }
          }
        }
        &.void {
          @apply border-none;
        }
      }
    }
  }

}
.search {
  overflow: hidden;
  margin-right: 30px;
  float: right;
  height: 56px;
  width: 4em;
  border-radius: 2em;
  .input{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    float: left;
    width: 0em;
    height: 2em;
    margin: 1em;
    margin-right: -4.5em;
    background: #fff;
    color: #6A5D4F;
    font-size: 1em;
    font-weight: 600;
    padding: 0px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2) inset;
    text-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-transition: all .25s;
    -webkit-transition: all .25s;
    &:focus{
      outline: none;
      box-shadow: 0 -1px 1px rgba(255,255,255,0.25), 0 1px 5px rgba(0,0,0,0.15);
    }
  }
  -moz-transition: all .35s;
  -webkit-transition: all 0.35s;
  &:hover, &:focus, &:focus-within{
    width: 25em;
    box-shadow: 0 0 5px #6A5D4F;
    border-radius: 5px 2em 2em 5px;
    outline: none;
    .input{
      display: inline-block;
      width: 19em;
      padding: 10px;
    }

  }


  .button{
    display: flex;
    border: none;
    transform: translate(10px, -50%);
    top: 43%;

    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 39;
    border-radius: 100%;
    float: right;
    width: 1.75em;
    height: 1.75em;
    margin: 0.125em;
    transition: 1s ease;
    @apply w-auto;
    svg {
      @apply text-xl;
    }

    text-align: center;
    font-size: 2em;
    color: #FDF6E3;


    &:active{
      border: 0 !important;
      text-shadow: 0 0 0;

    }

  }
}