.wrapper {
  position: relative;
  padding: 10px;
  background: #2b2b2b;
  max-width: 400px;
  width: 100%;
  transition: 0.5s ease;
  box-shadow: 0px 0px 8px rgba(37, 84, 32, 0.6);
  &:hover {
    background: #1d4720;
  }
  h1 {
    color: #fff;
  }
  .btns {
    display: flex;
  }
}
