.container{
  //@apply grid grid-cols-4 gap-10;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 30px;
}

//.grid{
//  @apply flex flex-col items-start gap-[50px];
//  .filters{
//    @apply w-full bg-gray-300 p-4 relative;
//    border-radius: 30px;
//  }
//}
//.btn{
//  @apply flex items-center gap-8;
//}

.explorer{
  @apply flex ;
  >aside{
    @apply max-w-[360px] w-full mr-[20px]  opacity-100;
    transition: width 600ms ease-in, opacity 600ms ease-in;
    >ul{
      @apply flex items-center justify-between;
      >li{
        @apply bg-white px-4 py-2;
        box-shadow: 0 0 11px rgba(33,33,33,.2);
      }
    }
  }
  >section{
    @apply w-full;
    transition: width 600ms ease-in;
  }
  &.filterOpened{
    @apply gap-5;

    //>aside{
    //  @apply w-2/6 opacity-100;
    //}
  }
}


