
.wrapper{
  background: #fff;
  @apply border px-8 my-12 border-black;
  h1{
    @apply text-5xl font-bold;
    margin-bottom: 50px;
  }
}
.mainInfo{
  @apply flex justify-center items-center ;

  .side{
    @apply flex flex-col relative gap-8  w-full;
    &:before{
      content: '';
      transform: translateX(-50%);
      @apply absolute  left-1/2 h-1 bg-gray-300 bottom-0;
    }
    .rating{
      @apply flex items-center mb-2;
      >svg{
        @apply fill-yellow-700 mr-2 text-lg;

      }
      >span{
        @apply text-black font-medium;
      }
    }
    h1{
      @apply text-center;
    }
    margin-right: 30px;
    box-shadow: 10px 20px 11px rgba(33,33,33,.2);
    border-radius: 20px;

    .sideInfo{
      p{
        font-size: 14px;
      }
    }

    p{
      @apply text-xl
    }

    .btn{
      color: #333;
    }

  }
}
.rating {
  @apply flex  top-2 right-8 items-center;
  > svg {
    @apply fill-yellow-700 mr-2 text-lg;
  }

  > span {
    @apply text-black font-medium;
  }
}
.features{
  position: relative;
  width: 50%;
  COLOR: #707F8D;
  &:before{
    content: '';
    border-bottom: 1px dotted rgba(204,214,228,.6);
    bottom: 0.2em;

    display: block;
    left: 0;
    position: absolute;
    width: 100%;
  }
}
.reviewsWrapper{
  @apply air-block p-3 flex flex-col gap-8 mb-5;
}
