.glass{
  max-width: 100%;
  //grid-column-start: span 3;
  grid-column-end: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  backdrop-filter: blur(2px);
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  font-family:Helvetica;
  transition: .5s ease;
  background:#FFFFFF;
  max-width: 300px;
  height: 500px;

  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
  &:hover{
    .price, .title{
     opacity: 0;
    }
    img{
      transform: scale(1.2);
    }
    .description {
      transform: translateY(-100px);

      > button {
        @apply m-0 p-4 w-full relative justify-center gap-4 overflow-hidden flex items-center rounded-2xl;
        background: transparent;
        z-index: 99;

        > svg {
          @apply w-6 h-6;
        }
      }
    }
  }
  @apply overflow-hidden rounded-[30px];
  .absolutePosition {
    @apply absolute inset-0 w-full h-full;
    z-index: 49;

    &:hover ~ .card  {

    }
  }
  .notImage{
    @apply w-full h-full flex-col air-block flex items-center justify-center;
    svg{
      @apply w-1/2 h-full;
    }
    h2{
      @apply font-bold text-xl text-center;
    }
  }
  .card{
    @apply p-8 flex flex-col  gap-6 relative  max-w-[100%] rounded-[30px];
    transition: .5s ease;
    box-shadow: 10px 20px 11px rgba(33,33,33,.2);

    .title{
      position: relative;
      z-index: 1;
      transition: .5s ease;
      h5{
        @apply text-sm font-semibold text-center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        color: #333;
      }
    }
    .image{
      @apply w-auto  relative h-[340px] rounded-3xl ;
      >img{
        @apply object-contain;
        transition: .5s ease;
      }
    }
    .price{
      @apply text-2xl w-full text-center  font-bold relative z-10;
      transition: .5s ease;
    }

    .description {
      @apply flex pt-3 items-center relative z-50 justify-between;
      transition: .5s ease;
      > button {
        @apply m-0 p-4 w-full font-bold relative justify-center gap-4 overflow-hidden flex items-center rounded-2xl;
        color: #333;
        z-index: 99;

        > svg {
          @apply w-6 h-6;
        }
      }
    }
  }
}
.rating {
  @apply flex z-10 absolute top-2 right-8 items-center mb-2;
  > svg {
    @apply fill-yellow-700 mr-2 text-lg;
  }

  > span {
    @apply text-black font-medium;
  }
}
