.column{

  h3, h2{
    @apply font-bold text-sm mb-4;
  }
  h2{
    @apply mb-0;
  }
  ul{
    @apply flex flex-col gap-2;
    li{
      a{
        transition: .3s ease;
        &:hover{
          @apply text-primary;
        }
      }
    }
  }
  &:nth-child(1){
    @apply flex flex-col gap-3;
    ul{
      @apply flex-row;
      li{
        a{

          svg{
            @apply w-8 font-bold h-8 bg-primary p-1 rounded-xl border border-transparent;
            transition: .3s ease;
          }
          &:hover{
            svg{
              @apply bg-gray-300 border border-solid border-primary fill-primary;
            }
          }
        }
      }
    }
  }
  p{
    font-size: 13px;
  }
}