.wrapper{
  @apply max-w-[300px] w-full h-[1000px];
  backdrop-filter: blur(2px);
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  font-family:Helvetica;
  color:#fff;
  background:rgba(0,0,0,0.13);
  position: relative;
}